header{
  margin: 0px;
}
body{
  background-color: #d15a28;
}
.topbar{
  text-align: center;
  vertical-align: top;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 3%;
}
.title{
  display: inline-block;
  overflow: auto;
  width: 50%;
  text-align: left;
  font-family: 'Asap';
  font-weight: bold;
  font-size: 30px;
  color: white;
}
.nav{
  overflow: auto;
  display: inline-block;
  width:50%;
  float: right;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li{
  float: right;
  font-family: 'Asap';
  font-weight: bold;
  font-size: 30px;
}
li:last-child {
  border-right: none;
}

li a {
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}

a:link{
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}

a:hover {
  font-size: 30px;
}
.draw {
  padding:30px;
}
.box{
  position: relative;
  width: 900px;
  height: 500px;
  background: white;
  outline: 2px solid black;
}

.motif{
  display: flex;
  justify-content: center;
}
.item {
  width: 100px;
  height: 100px;
  margin: 8px;
  background-color: white;
  outline: black solid 1px;

}
